
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
   
  }
  
  .container {
    position: absolute;
    width: 336px;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  h1 {
    text-align: center;
    margin-top: 0;
  }
  
  #plan-list {
    margin: 10px 0;
    padding: 0;
    list-style-type: none;
    overflow-y: auto;
  }
  
  #plan-list li {
    margin-bottom: 5px;
    padding: 5px;
    
    border-radius: 3px;
    display: flex;
    align-items: center;
  }
  
  #plan-list li span {
    margin-left: auto;
    margin-right: 10px;
   
  }
  
  #plan-input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
  }
  
  #add-btn {
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: #008CBA;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  #add-btn:focus {
    outline: none;
  }
  
  #add-btn:active {
    background-color: #006080;
  }
  
  #delete-btn {
    margin-left: auto;
    padding: 3px;
    border: none;
    border-radius: 70%;
    background-color: white;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  
  #delete-btn:focus {
    outline: none;
  }
  
  #delete-btn:active {
    background-color: #d32f2f;
  }
  .reng{
    background-color: yellow;
    width: 100%;
    height: 30px;
    
}

#plan-input {
    border: 1px solid #ccc;

}

.input-container {
    position: relative;
    height: auto;
    border:none;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  #plan-input {
    width: 100%;
    border: none;
    font-size: 30px;
  }
  
  #delete-btn {
    position: absolute;
    top: 45%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    color: #ccc;
    
  }
  
  #delete-btn:hover {
    color: #000;
  }
  #add-btn{
    background-color: white;
  }
  #delete-btn1{
    background-color: white;
  }
 #span1{
margin-left: 200px;
 }
 li{
  margin-right: 20px;
 }
 img:hover{
  cursor: pointer;
 }
 #sort-btn{
  margin-left: 280px;
 }
 #sort-btn img:hover {
    /* opacity: 0.7; */
    cursor: pointer;
    /* color: black; */
   
  }
